{:nrepl {:port 8777}



 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [leipzig "0.11.0-SNAPSHOT"]
  [cljs-bach "0.3.0-SNAPSHOT"]
  [metosin/reitit "0.5.15"]

  ;; Dev dependencies
  [cider/cider-nrepl "0.26.0"]
  [binaryage/devtools "1.0.3"]
  [day8.re-frame/tracing      "0.6.2"]
  [day8.re-frame/re-frame-10x "1.0.2"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target
   :browser

   :modules
   {:app {:init-fn bienvenides.core/init}}

   :devtools
   {:preloads [bienvenides.dev
               day8.re-frame-10x.preload]}

   :dev
   {:asset-path "/js/compiled"
    :build-hooks [(bienvenides.build.hooks/generate-index)
                  (bienvenides.build.hooks/watch-scss)]
    :output-dir "./resources/public/js/compiled"
    :closure-defines {re-frame.trace.trace-enabled?        true
                      day8.re-frame.tracing.trace-enabled? true}
    :bienvenides.build-config/target-dir "./resources/public"
    :bienvenides.build-config/stylesheet-url "/css/compiled/index.css"}

   :release
   {:asset-path "/bienvenides/js/compiled"
    :build-hooks [(bienvenides.build.hooks/generate-index)
                  (bienvenides.build.hooks/compile-scss)
                  (bienvenides.build.hooks/copy-static-files)]
    :output-dir "./target/resources/public/js/compiled"
    :build-options {:ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}}
    :bienvenides.build-config/target-dir "./target/resources/public"
    :bienvenides.build-config/stylesheet-url "/bienvenides/css/compiled/index.css"}}

  :test
  {:target :karma
   :output-to "target/karma-test.js"
   :ns-regexp "-test$"
   ;; This allows us to use with-redefs for multi arit fns
   ;; see https://clojure.atlassian.net/browse/CLJS-1623
   :compiler-options {:static-fns false}}}}
