{:nrepl {:port 8777}



 :source-paths ["src" "test"]

 :dependencies
 [[reagent "1.1.0"]
  [re-frame "1.2.0"]
  [leipzig "0.11.0-SNAPSHOT"]
  [cljs-bach "0.3.0-SNAPSHOT"]

  [cider/cider-nrepl "0.26.0"]
  [binaryage/devtools "1.0.3"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :modules
   {:app {:init-fn bienvenides.core/init}}
   :devtools
   {:preloads [bienvenides.dev]}
   :dev
   {:asset-path "/js/compiled"
    :build-hooks [(bienvenides.build.hooks/generate-index "/js/compiled/app.js"
                                                          "./resources/public")]
    :output-dir "./resources/public/js/compiled"}
   :release
   {:asset-path "/bienvenides/js/compiled"
    :build-hooks [(bienvenides.build.hooks/generate-index "/bienvenides/js/compiled/app.js"
                                                          "./target/resources/public")]
    :output-dir "./target/resources/public/js/compiled"}}
 :test
  {:target :karma
   :output-to "target/karma-test.js"
   :ns-regexp "-test$"}}}
