.main-panel {
    margin: 50px 100px;
    text-align: center;

    &__single-name {
        margin-right: 10px;
    }
    
    &__letter {

        &--active {
            display: inline-block;
            transform: translateY(-5px);
            color: blue;
        }

        transition: all 0.3s;
    }

    &__control-dashboard {
        text-align: left;
        margin-bottom: 50px;
        margin-top: 40px;
    }

    &__dashboard-input-wrapper {
        margin-right: 10px;
    }
}
