@import "./fonts";

html {
    font-size: 100%;
}

body {
    background-color: #fff;
    font-family: Inter,"Noto Serif SC",sans-serif;
    font-size: 1pc;
    text-align: left;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}
